---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">
    You can also find my articles on
    <a href="https://scholar.google.co.kr/citations?user=n73fnfwAAAAJ&hl=zh-CN">my Google Scholar profile</a>.
  </div>
{% endif %}

{% include base_path %}

<p>(* indicates equal contribution)</p>

<h2>Conference Papers</h2>

<ol class="publication-list">
  {% for post in site.publications reversed %}
    {% if post.category == "conferences" %}
      <li>
        {% include archive-single.html type="list" %}
      </li>
    {% endif %}
  {% endfor %}
</ol>